@tailwind components;
@layer components {
  .icons {
    @apply flex flex-grow justify-center cursor-pointer;
  }
  .kills {
    @apply text-gray-500 text-[12px] font-semibold whitespace-nowrap;
  }
  .value {
    @apply text-white text-base font-semibold;
  }
  .color {
    @apply bg-gradient-to-r from-purplehaze to-peakypink h-[1px] w-16;
  }
  .container {
    @apply flex flex-col p-1 w-full;
  }
}

body::-webkit-scrollbar {
  display: none;
}
